{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
   <h2 class="mb-4">Регистрация</h2>

<form method="post" class="card p-4 shadow-sm">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}


{% comment %}  используется стандартный шаблон Django для регистрации, где рендерится форма, которая передается из представления (view).


{% extends 'base.html' %} — этот тег говорит Django, что данный шаблон расширяет base.html, который, вероятно, содержит общую структуру (например, навигацию, стили и т.д.).
{% block content %} — начало блока, в который будет вставлен контент для страницы регистрации. В данном случае — это заголовок и форма.
<h2>Регистрация</h2> — заголовок страницы.
<form method="post"> — форма, которая отправляется методом POST (чтобы передавать данные на сервер).
{% csrf_token %} — это обязательный тег для защиты от CSRF-атак. Он генерирует скрытое поле в форме для проверки запросов на сервер.
{{ form.as_p }} — рендерит форму как список параграфов, т.е. каждый элемент формы будет обернут в тег <p>. Важное замечание: переменная form должна быть передана в контексте шаблона из вашего представления (view).
<button type="submit">Зарегистрироваться</button> — кнопка для отправки формы {% endcomment %}
